body {
  font-family: 'fauna one', serif;
  color: #ffffff;
  margin: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.container {
  background-size: 100%;
  background-repeat: no-repeat;
}
header {
  background-color: #3B2611;
  display: inline-block;
  width: 100%;
}
h1, h2 {
  font-family: 'playfair display', serif;
  font-weight: 700;
  font-style: italic;
}
h3 {
  font-family: 'fauna one', serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
#section-0 {
  background-color: #F1F2F6;
  display: inline-block;
  width: 100%;
}
#section-0 .container {
  background-image: url('images/section-0A.png');
}
#section-0 body {
  color: #3B2611;
}
#section-0 h1 {
  color: #FE58BC;
}
#section-1 {
  background-color: #FE58BC;
  display: inline-block;
  width: 100%;
}
#section-1 .container {
  background-image: url('images/section-1.png');
  background-position-y: bottom;
  background-position-x: center;
  background-size: 80%;
}
#section-1 h2 {
  color: #3B2611;
}
#section-2 {
  background-color: #3B2611;
  display: inline-block;
  width: 100%;
}
#section-2 h2 {
  color: #FE58BC;
}
#section-3 {
  background-color: #FF9436;
  display: inline-block;
  width: 100%;
}
#section-3 .container {
  background-image: url('images/section-3.png');
  background-position-x: center;
  background-size: 80%;
}
#section-3 h2 {
  color: #3B2611;
}
footer {
  background-color: #3B2611;
}
.arrow {
  width: 24px;
  display: block;
  margin: auto;
}
.arrow img {
  width: 100%;
}
.button {
  background-color: #FE58BC;
  border-radius: 500px;
  padding: 0.2em 0.6em;
}
.button a {
  color: #ffffff;
  font-family: 'playfair display', serif;
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
}
.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #FE58BC;
  border-radius: 2px;
  display: inline-block;
  margin-right: 0.3em;
  margin-bottom: 1em;
  cursor: pointer;
}
label {
  vertical-align: top;
  margin-top: 1em;
  color: #FE58BC;
}
.checkbox[aria-checked="true"] {
  background-image: url('images/check.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.ad-council-icon {
  width: 48px;
}
ul {
  list-style: none;
}
footer ul li {
  display: inline;
}
